---
layout: default
title: "Home"
---

{% assign about_page = site.pages | where: "title", "About me" | first %}
{% if about_page %}
  <article>
    <header><h1>{{ about_page.title }}</h1></header>
    {{ about_page.content }}
  </article>
{% endif %}

{% if site.show_excerpts %}
  {% for post in site.posts %}
    <article>
      {% include meta.html post=post %}
      {{ post.excerpt }}
      <footer class="button"><a href="{{ post.url | relative_url }}">read more</a></footer>
    </article>
  {% endfor %}
{% else %}
  {% capture source %}{% include_relative archive.html title="Posts" %}{% endcapture %}
  {{ source | split: "---" | last }}
{% endif %}
